<div class="row">
    <div class="col">
        <div class="row">
            <ul class="list">
                <li class="item" ng-repeat="level in firstHalfLevels">
                    <a ng-href="{{url}}{{level}}"><span ng-bind="text"></span> <span ng-bind="level"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ul class="list">
                <li class="item" ng-repeat="level in lastHalfLevels">
                    <a ng-href="{{url}}{{level}}"><span ng-bind="text"></span> <span ng-bind="level"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
